<h2>Log-in page</h2>

<form action='/endPointName' method='POST'>

  <label for=''>Email</label>
  <input type='text' name='Email'>

  <label for=''>Password</label>
  <input type='text' name='Password'>

  <button type='submit'>Submit</button>
</form>