<form class="login-form" action='/auth/login' method='POST'>

  <div class="flex">
    <label for='email'><i class="fas fa-at"></i></label>
    <input type='text' name='email' placeholder="e-mail">
  </div>

  <div class="flex">
    <label for='password'><i class="fas fa-unlock-alt"></i></label>
    <input type='password' name='password' placeholder="Password">
  </div>

  <button class="login-btn" type='submit'>Log In</button>
  <p>Already not a member? <a href="/auth/signup">Sign up</a></p>
</form>

<div class="splash-container">
  <img class="splash" src="/images/cmyk_dots.svg" alt="splash">
</div>

{{!-- error message display: --}}

{{#if errorMessage}}
<div class="error-message">
  {{ errorMessage }}
</div>
{{/if}}