<h2>Sign-up page</h2>

<form action='/endPointName' method='POST'>

  <label for='firstName'>First name</label>
  <input type='text' name='firstName'>

  <label for='lastName'>Last name</label>
  <input type='text' name='lastName'>

  <label for='email'>Email</label>
  <input type='text' name='email'>

  <label for='password'>Password</label>
  <input type='text' name='password'>

  <label for='age'>Age</label>
  <input type='number' name='age'>
  <p>Address</p>
  <label for='street'>Street</label>
  <input type='text' name='street'>

  <label for='city'>City</label>
  <input type='text' name='city'>

  <label for='state'>State</label>
  <input type='text' name='state'>

  <label for='country'>Country</label>
  <input type='text' name='country'>

  <label for='postcode'>Postcode</label>
  <input type='text' name='postcode'>

  <label for='profilePicture'>Profile picture</label>
  <input type='text' name='profilePicture'>

  <button type='submit'>Submit</button>
</form>