<form class="edit-design-form" enctype="multipart/form-data" action='/profile/edit/{{design._id}}' method='POST'>

<div class="design-name flex">
  <label for=''><i class="fas fa-quote-left"></i></label>
  <input type='text' name='name' value="{{design.name}}">
</div>

<div class="design-description flex">
  <label for=''><i class="fas fa-list-ul"></i></label>
  <input type='text' name='description' value="{{design.description}}">
</div>

<div class="design-link flex">
  <label for=''><i class="fas fa-camera-retro"></i></label>
  <input  class="upload-file" type="file" name="image" id="image-input" class="form-control-file" />
</div>

  <button class="edit-design" type='submit'>Edit Design</button>

  <a class="backToProfile" href="/profile">Back to profile</a>

  <form class="delete-design" action="/profile/edit/{{design._id}}/delete" method="POST">
    <button class="delete-design-btn" type='submit'>Delete this design</button>
  </form>

</form>



<div class="splash-container">
  <img class="splash" src="/images/cmyk_dots.svg" alt="splash">
</div>