
<div class="info">
<h2 class="user-h2">{{user.name.firstName}} {{user.name.lastName}}</h2>
<img class="profile-img" src={{user.picture}} alt="">
</div>

<div class="profile-menu flex">
  <a class="profile-edit" href="/profile/edit">Edit profile</a>
  <a class="profile-orders" href="/profile/orders">Your orders</a>
  <a class="profile-mine" href="/user/:userId">Your profile</a>
  <a class="profile-upload" href="/profile/upload">Upload design</a>
  <a class="profile-logout" href="/auth/logout">Log out</a>
</div>