<h2>Your profile menu</h2>
<a href="/profile/edit">Edit your profile</a>
<a href="/profile/orders">Your orders</a>
<a href="/user/:userId">Your designer profile</a>
<a href="/profile/upload">Upload new design</a>
<a href="/logout">Log out</a>