<div class="faq-wrapper flex">

  <h2>Create your own designs and get paid for it</h2>

  <ul>
    <li class="flex faq1">
        <span>1</span>
        <p>You can create an account for free</p>
    </li>
    <li class="flex faq2">
        <span>2</span>
        <p>If people like your designs and vote them positively, they will be promoted to our purchase gallery</p>        
    </li>
    <li class="flex faq3">
        <span>3</span>
        <p>You will get money for each product we sell with your design.</p>        
    </li>
  </ul>

  <footer>
    <p>Designed and developed by Aleix Badia & Fede Muniente at Ironhack Barcelona | &copy; 2021 </p>
    <a href="https://github.com/aleixbadia/community-project"><i class="fab fa-github"></i></a>
  </footer>
  
    
</div>
