<h2>Create your own designs and get paid for it</h2>

<p>Here it is how our model works:</p>
<ul>
    <li>Create an account</li>
    <li>Upload your designs</li>
    <li>If people like your designs and vote them positively, they will be promoted to our purchase gallery</li>
    <li>Get money for each product we sell with your design</li>
</ul>