<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="/">Community Designs</a>
      </div>
      <div class="userform">
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      </div>
    </nav>
    {{{body}}}
  </body>
</html>
