<h1 class="main-h1">Make sure you only buy what is trending right now</h1>

<div class="cta-btns flex">
  
  <div class="buy flex">
    <a href="/products">Products</a>
  </div>
  
  <div class="vote flex">
    <a href="/vote">Vote</a>
  </div>
  
  <div class="join flex">
    <a href="/business-model">Become one of our designers</a>
  </div>
</div> 