@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

/*---------------------------- RESET & COMMON STYLES----------------------------*/
:root {
  --cyan: #00a6d6;
  --cyan-low: rgba(0, 166, 214, 0.6);
  --orange: #ed7014;
  --orange-low: rgba(237, 112, 20, 0.6);
  --magenta: #f01c9c;
  --magenta-low: rgba(240, 28, 156, 0.6);
  --green: #03ac13;
  --green-low: rgba(3, 172, 19, 0.6);
  --yellow: #fce205;
  --yellow-low: rgba(252, 226, 5, 0.6);
  --lilac: #a32cc4;
  --lilac-low: rgba(163, 44, 196, 0.6);
  --bone: #fafafa;
  --black: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexsb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.page-wrapper {
  margin-top: 80px;
}

body {
  font: 14px "Montserrat", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

/*---------------------------- LAYOUT ----------------------------*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black);
  color: #fff;
  height: 60px;
  font-size: 1rem;
}

.navbar > div > a {
  margin: 0;
  display: inline-block;
  height: 60px;
  padding: 16px 30px 0 30px;
  color: #fff;
  width: 240px;
}

.img-wrapper {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 5%;
}

.img-wrapper > img {
  height: 180%;
}

.userform li {
  height: 60px;
  transition: background-color 0.3s;
}

.userform li:hover {
  background-color: var(--bone);
  color: var(--black);
}

.cart-icon,
.profile-icon,
.logout-icon,
.login-icon,
.signup-icon,
.buy-icon,
.vote-icon {
  display: none;
  font-size: 1rem;
}

.userform li > a {
  margin: 0;
  height: 60px;
  padding: 16px 25px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userform li > a:active {
  color: #fff;
}

.userform li > a:hover {
  background-color: var(--bone);
  color: var(--black);
}

.buy-text > a {
  background-color: var(--cyan);
}

.vote-text > a {
  background-color: var(--magenta);
}

.buy-hover:hover {
  background-color: var(--orange) !important;
  color: var(--bone) !important
}

.vote-hover:hover {
  background-color: var(--green) !important;
  color: var(--bone) !important
}
.nav-bar-img-wrapper > a {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.nameImgLink {
  display: flex;
  flex-direction: row;
}

.img-link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.navbar-img-container {
  margin-left: 15px;
  height: 60px;
  width: 60px;
}

.navbar-img-container > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.upload-file {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.logout-text > a{
  padding: 5px;
}

/*---------------------------- MAIN PAGE ----------------------------*/

.main-h1 {
  text-align: center;
  margin: 100px 0 50px 0;
}

.buy,
.vote,
.join {
  width: calc(100% / 3);
  height: 450px;
}

.buy {
  background-color: var(--cyan-low);
}

.vote {
  background-color: var(--magenta-low);
}

.join {
  background-color: var(--yellow-low);
}

.buy:hover {
  background-color: var(--cyan);
}

.vote:hover {
  background-color: var(--magenta);
}

.join:hover {
  background-color: var(--yellow);
}

.cta-btns > div > a {
  padding: 15px 60px;
  border-radius: 25px;
  background-color: var(--black);
  opacity: 140%;
  color: var(--bone);
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy > a:hover {
  background-color: var(--orange);
}

.vote > a:hover {
  background-color: var(--green);
}

.join > a:hover {
  background-color: var(--lilac);
}

.error-message {
  background-color: var(--bone);
    height: 6%;
    width: 20%;
    text-align: center;
    align-content: center;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    font-size: 1rem;
}

/*---------------------------- SIGNUP FORM ----------------------------*/

form {
  margin: 15px auto;
  padding: 5px 0;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bone);
  border-radius: 50px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

form > div {
  width: 80%;
  margin: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form > button {
  background-color: #222222;
  color: #fff;
  margin: 15px;
  padding: 10px 65px;
  border: none;
  border-radius: 15px;
  outline: none;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

form > button:hover {
  background-color: #e27d60;
}

form > button:active {
  transform: scale(0.98%);
}

form > div > label > i {
  margin: 0 10px;
  width: 40px;
  font-size: 2rem;
}

form > div > input,
form > div > select {
  height: 30px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  background-color: #eee;
  color: #000;
}

form > div > input:focus,
form > div > select:focus {
  border-radius: 5px;
  background-color: #fff;
  color: var(--black);
}

.street-input {
  width: 100%;
}

.splash-container {
  height: 100px;
  width: 100px;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash {
  top: -500px;
  height: 200%;
}

.signup-btn:hover {
  background-color: var(--yellow);
}
/*---------------------------- LOGIN FORM ----------------------------*/

.login-form {
  padding: 35px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-btn:hover {
  background-color: var(--magenta);
}

/*---------------------------- CART ----------------------------*/

.all-products {
  border: 1px solid red;
  width: 90%;
  margin: 0 auto;
}

.single-product {
  border: 1px solid green;
  width: 90%;
  margin: 0 auto;
  flex-direction: row;
}

.product-img {
  height: 100px;
}

.product-img >img {
  height: 100%;
}

.product-text {
  flex-direction: column;
  align-items: flex-start;
}

.single-product > .product-img {
  width: 20%;
}

.single-product > .product-text{
  width: 30%;
}


.single-product > p {
  width: 30%;
  text-align: center;
}

.delete-form {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: #fff;
  width: 10%;
}

.single-product > form > button {
  width: 20%;
}
/*---------------------------- USER PROFILE ----------------------------*/

.profile {
  width: 60%;
  background-color: var(--bone);
  margin: 15px auto;
  padding: 5px 0;
  border-radius: 50px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

.info {
  margin: 20px auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-h2 {
  text-align: center;
  margin: 60px 20px;
  font-size: 1.2rem;
}

.user-h5 {
  text-align: center;
  margin: 60px 0 60px 60px;
}

.profile-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.profile-menu {
  margin: 10px auto 30px auto;
  width: 80%;
  justify-content: space-around;
}

.profile-menu > a {
  padding: 10px 15px;
  border-radius: 25px;
  color: #fff;
  transition: all 0.3s;
}

.profile-edit {
  background-color: var(--cyan);
}
.profile-orders {
  background-color: var(--magenta);
}
.profile-upload {
  background-color: var(--yellow);
}
.profile-mine {
  background-color: var(--black);
}

.profile-edit:hover {
  background-color: var(--orange);
}
.profile-orders:hover {
  background-color: var(--green);
}
.profile-upload:hover {
  background-color: var(--lilac);
}
.profile-mine:hover {
  background-color: #eee;
  color: var(--black);
}

.profile-menu > a:active {
  transform: scale(0.98%);
}

.card-edit {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--yellow);
  color: var(--bone);
  border-radius: 50px;
  transition: background-color 0.3;
}

.card-edit:hover {
  background-color: var(--lilac);
}
/*---------------------------- EDIT PROFILE FORM ----------------------------*/

.backToProfile {
  align-self: center;
  background-color: var(--black);
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 65px;
  border: none;
  border-radius: 15px;
  outline: none;
  transition: background-color 0.3s;
}

.signup-image {
  width: 100%;
}

.img-input {
  width: 80%;
}

.edit-profile-btn:hover {
  background-color: var(--cyan);
}

.backToProfile:hover {
  background-color: var(--magenta);
}

.edit-profile-btn:active,
.backToProfile:active {
  transform: scale(0.98%);
}

.edit-design-form {
  margin-top: 10%;
}

.edit-design:hover {
  background-color: var(--yellow);
}

/*---------------------------- ORDERS ----------------------------*/

.your-orders {
  text-align: center;
  margin: 60px 20px;
  font-size: 2rem;
}

.order-gallery {
  flex-direction: column;
  align-items: flex-start;
  align-items: flex-start;
}

.single-order {
  margin: 0 5px;
  padding: 20px 100px 10px 100px;
  background-color: #eee;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: start;
}

.single-order h3 {
  padding-top: 30px;
  margin-bottom: 30px;
}

.order-details {
  flex-direction: row;
  margin: 5px 10px 30px 5px;
  /* width: 20%;  */
}

.order-details > div {
  margin: 0 15px 0 0;
}

.order-image {
  height: 50px;
  width: 50px;
}

.order-image > img {
  height: 100%;
  width: 100%;
}

.prices {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 5px;
  padding: 5px 100px;
  background-color: #eee;
  width: 100%;
  align-items: flex-start;
  justify-content: start;
  padding-bottom: 35px;
  border-bottom: 10px solid var(--bone)
}

.money {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.money h3,
.prices h4 {
  margin: 20px 10px 0 0;
}

.back-to-profile {
  background-color: var(--yellow);
  color: rgb(255, 255, 255);
  margin: 15px 50%;
  transform: translateX(-50%);
  padding: 15px 65px;
  width: 20%;
  text-align: center;
  border: none;
  border-radius: 15px;
  outline: none;
  transition: background-color 0.3s ease 0s;
}

.back-to-profile:hover {
  background-color: var(--lilac);
}


/*---------------------------- GALLERY ----------------------------*/
.gallery {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.gallery::after {
  content: "";
  margin-right: 15px;
  margin: 30px auto;
  flex: auto;
}

.card {
  /* width: 23%; */
  flex: 0 0 20%;
  height: 50vh;
  margin: 1% 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px 15px;
  background-color: var(--bone);
  border-radius: 30px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.6);
}

.card::after{
  content: "";
  margin: 1% 20px;
}

.card > h3 {
  text-align: center;
  width: 90%;
  height: 20%;
  margin-bottom: 20px;
}

.card-img-wrapper {
  display: inline-block;
  height: 60%;
  width: 90%;
}

.card > a > img {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.card-vote {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--magenta);
  color: var(--bone);
  border-radius: 50px;
  transition: background-color 0.3;
}

.card-vote:hover {
  background-color: var(--green);
}

.card-buy {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--cyan);
  color: var(--bone);
  border-radius: 50px;
  transition: background-color 0.3;
}

.card-buy:hover {
  background-color: var(--orange);
}

/*---------------------------- GALLERY PRODUCT DETAILS ----------------------------*/

.vote-h2 {
  text-align: center;
  margin: 60px 20px;
  font-size: 1.2rem;
}

.details-wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  height: 70vh;
  margin: 15px auto;
  padding: 50px;
}

.details-img {
  width: 50%;
  height: 100%;
}

.details-img > img {
  height: 100%;
  width: 100%;
}

.designer-details {
  top: 0;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 50px;
}

.designer-data {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.designer-data > a {
  display: flex;
  align-items: center;
}

.designer-data > span {
  margin-right: 10px;
}

.designer-data > a > p {
  margin: 0 2px;
}

.designer-data-img-wrapper {
  height: 75px;
  width: 75px;
}

.designer-data-img-wrapper > img {
  border-radius: 50%;
  margin: 0 15px;
  height: 100%;
  width: 100%;
}

.title {
  height: 10%;
}

.title > h2 {
  font-size: 2rem;
}
.product-details {
  flex-direction: column;
  align-items: flex-start;
  height: 30%;
}

.product-details > h3 {
  font-size: 1.4rem;
}

.product-details > p {
  font-size: 1.2rem;
}

/*---------------------------- PUBLIC PROFILE ----------------------------*/

.user-profile {
  background: none;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
}

.public {
  width: 50%;
  padding: 25px 15px;
  background-color: var(--bone);
  border-radius: 50px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
  margin-bottom: 50px;
}

.gallery-profile {
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
}

.card-profile {
  margin: 0 10px;
}

/*---------------------------- BUY/VOTE SINGLE PRODUCT ----------------------------*/

.back-to-buy {
  display: inline-block;
  background-color: var(--cyan);
  color: rgb(255, 255, 255);
  margin: 15px 50%;
  transform: translateX(-50%);
  padding: 15px 65px;
  border: none;
  border-radius: 15px;
  outline: none;
  transition: background-color 0.3s ease 0s;
}

.back-to-buy:hover {
  background-color: var(--orange);
}

.formToCart {
  flex-direction: column;
  border-radius: 0;
  box-shadow: none;
  flex-direction: row;
  position: absolute;
  left: 50%;
  margin: 0;
  bottom: 20%;
  padding: 0;
  width: 35%;
}

.selectAddCart {
  margin-left: 15px;
    padding: 10px 20px;
}

.addToCart {
  padding: 10px 30px;
  transform: translateX(-50%);
  border-radius: 50px;
  border: none;
  background-color: var(--black);
  color: var(--bone);
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
  margin-left: 80px;
}

.addToCart:hover {
  background-color: var(--cyan);
}

.back-to-vote {
  background-color: var(--magenta);
  color: rgb(255, 255, 255);
  margin: 0 auto;
  border: none;
  border-radius: 15px;
  outline: none;
  transition: background-color 0.3s ease 0s;
  height: 50px;
  width: 15%;
}

.back-to-vote:hover {
  background-color: var(--green);
}

.vote-product {
  position: absolute;
  bottom: -5%;
  left: 55%;
  width: 13%;
  justify-content: flex-start;
  flex-direction: column;
  height: 40%;
}

.vote-product > h3 {
  font-size: 1.5rem;
}

.thumbs-wrapper {
  width: 100%;
  justify-content: space-between;
}

.up,
.down {
  background-color: var(--bone);
  padding: 0;
  margin: 0;
}

.up:hover,
.down:hover {
  background-color: var(--bone);
}

.thumbs-form > button > i {
  color: var(--black);
  font-size: 4rem;
}

.up > i:hover {
  color: var(--green);
}

.down > i:hover {
  color: var(--orange);
}

.thumbs-form,
.thumbs-form-input,
.thumbs-form,
.thumbs-wrapper {
  background: none;
  box-shadow: none;
  margin: 0 50px;
}

.thumbs-form-input {
  display: none;
}
/*---------------------------- FAQ PAGE ----------------------------*/
.faq-wrapper {
  background-color: var(--bone);
  border-radius: 15px;
  margin: 0 auto;
  height: 80vh;
  width: 80%;
  flex-direction: column;
  justify-content: space-around;
}

.faq-wrapper h2 {
  font-size: 2rem
}

.faq-wrapper ul {
  display: flex;
}

.faq-wrapper  li {
  flex-direction: column;
  justify-content: start;
  margin: 0 20px;
  width: calc(100% / 3)
}

.faq-wrapper  li > span {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 15px;
}


.faq-wrapper  li > p {
  text-align: center;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 1rem;
}

.faq-wrapper > footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.faq-wrapper > footer a > i{
  margin-left: 25px;
  font-size: 2.5rem;
  color: var(--black)
}


.faq-wrapper > footer a > i:hover{
  margin-left: 25px;
  font-size: 2.5rem;
  color: var(--lilac)
}

.faq1:hover {
  color: var(--cyan);
}

.faq2:hover {
  color: var(--magenta);
}

.faq3:hover {
  color: var(--yellow);
}

/*---------------------------- FOOTER ----------------------------*/

/*---------------------------- MEDIA QUERIES ----------------------------*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .body {
    font-size: 50%;
  }

  /*---------------------------- LAYOUT ----------------------------*/
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black);
    color: #fff;
    height: 40px;
    padding: 0 10px;
    font-size: 0.8rem;
  }

  .navbar > div > a {
    margin: 0;
    display: inline-block;
    height: 40px;
    padding: 10px 5px 0 5px;
    color: #fff;
    width: 190px;
  }

  .img-wrapper {
    display: none;
  }

  .img-wrapper > img {
    display: none;
  }


  .cart-text,
  .profile-text,
  .logout-text,
  .login-text,
  .signup-text,
  .buy-text,
  .vote-text {
    display: none;
  }

  .cart-icon,
  .profile-icon,
  .logout-icon,
  .login-icon,
  .signup-icon,
  .vote-icon,
  .buy-icon {
    display: inline-block;
    padding: 0 5px 0 5px;
    font-size: 1rem;
  }

  .userform li {
    height: 40px;
  }

  .userform li > a {
    height: 40px;
    padding: 10px 5px 0 5px;
  }

  /*---------------------------- MAIN PAGE ----------------------------*/
  .page-wrapper {
    height: 100%;
    width: 100%;
  }

  .main-h1 {
    text-align: center;
    margin: 50px 0 0 0;
    height: 15vh;
    font-size: 1.2rem;
  }

  .cta-btns {
    flex-direction: column;
    height: 67vh;
  }

  .buy,
  .vote,
  .join {
    height: calc(100% / 3);
    width: 100%;
  }

  .cta-btns > div > a {
    padding: 5px 20px;
  }

  /*---------------------------- LOGIN FORM ----------------------------*/
  .login-form {
    width: 80%;
  }

  /*---------------------------- SIGNUP FORM ----------------------------*/
  .signup-form {
    width: 90%;
  }

  .signup-form > div > input,
  .signup-form > div > select {
    width: 60%;
  }

  .signup-form > div > label > i {
    font-size: 1.5rem;
  }

  /*---------------------------- GALLERY ----------------------------*/

  .gallery {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  /*---------------------------- PRODUCT DETAIL ----------------------------*/

  .details-wrapper {
    flex-direction: column;
    padding: 5px;
    margin-top: -40px;
  }

  .details-img {
    width: 100%;
    border-radius: 50px;
  }

  .details-img > img {
    margin: 0 20px;
    width: 90%;
    border-radius: 50px;
  }

  .designer-data > span {
    display: none;
  }

  .designer-data > a > img {
    height: 40px;
  }

  .designer-details {
    justify-content: flex-start;
  }

  .designer-details > div > h2 {
    font-size: 1rem;
    margin-top: 55px;
  }

  .product-details {
    display: none;
  }

  .thumbs-wrapper {
    margin-top: -35px;
  }

  .back-to-vote {
    padding: 5px 20px;
  }

  .back-to-buy {
    padding: 5px 20px;
  }

}