@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

/*---------------------------- RESET & COMMON STYLES----------------------------*/
:root {
  --cyan: #00a6d6;
  --cyan-low: rgba(0, 166, 214, 0.6);
  --orange: #ed7014;
  --orange-low: rgba(237, 112, 20, 0.6);
  --magenta: #f01c9c;
  --magenta-low: rgba(240, 28, 156, 0.6);
  --green: #03ac13;
  --green-low: rgba(3, 172, 19, 0.6);
  --yellow: #fce205;
  --yellow-low: rgba(252, 226, 5, 0.6);
  --lilac: #a32cc4;
  --lilac-low: rgba(163, 44, 196, 0.6);
  --bone: #fafafa;
  --black: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexsb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.page-wrapper {
  margin-top: 80px;
}

body {
  font: 14px "Montserrat", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

/*---------------------------- LAYOUT ----------------------------*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black);
  color: #fff;
  height: 60px;
  padding: 0 50px;
  font-size: 1rem;
}

.navbar > div > a {
  margin: 0;
  display: inline-block;
  height: 60px;
  padding: 16px 30px 0 30px;
  color: #fff;
}

.img-wrapper {
  width: 60px;
  height: 60px;
  /* overflow: hidden; */
}

.img-wrapper > img {
  height: 180%;
}

.userform li {
  height: 60px;
  transition: background-color 0.3s;
}

.userform li:hover {
  background-color: var(--bone);
  color: var(--black);
}

.userform li > a {
  margin: 0;
  display: inline-block;
  height: 60px;
  padding: 16px 30px 0 30px;
  color: #fff;
}

.userform li > a:hover {
  background-color: var(--bone);
  color: var(--black);
}

.userform li > a:active {
  color: #fff;
}

/*---------------------------- MAIN PAGE ----------------------------*/
.main-h1 {
  text-align: center;
  margin: 100px 0 50px 0;
}

.buy,
.vote,
.join {
  width: calc(100% / 3);
  height: 450px;
}

.buy {
  background-color: var(--cyan-low);
}

.vote {
  background-color: var(--magenta-low);
}

.join {
  background-color: var(--yellow-low);
}

.buy:hover {
  background-color: var(--cyan);
}

.vote:hover {
  background-color: var(--magenta);
}

.join:hover {
  background-color: var(--yellow);
}

.cta-btns > div > a {
  padding: 15px 60px;
  border-radius: 25px;
  background-color: var(--black);
  opacity: 140%;
  color: var(--bone);
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy > a:hover {
  background-color: var(--orange);
}

.vote > a:hover {
  background-color: var(--green);
}

.join > a:hover {
  background-color: var(--lilac);
}

/*---------------------------- SIGNUP FORM ----------------------------*/

form {
  margin: 15px auto;
  padding: 5px 0;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bone);
  border-radius: 50px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

form > div {
  width: 80%;
  margin: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form > button {
  background-color: #222222;
  color: #fff;
  margin: 15px;
  padding: 10px 65px;
  border: none;
  border-radius: 15px;
  outline: none;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

form > button:hover {
  background-color: #e27d60;
}

form > button:active {
  transform: scale(0.98%);
}

form > div > label > i {
  margin: 0 10px;
  width: 40px;
  font-size: 2rem;
}

form > div > input,
form > div > select {
  height: 30px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  background-color: #eee;
  color: #000;
}

form > div > input:focus,
form > div > select:focus {
  border-radius: 5px;
  background-color: #fff;
  color: var(--black);
}

.street-input {
  width: 100%;
}

.splash-container {
  height: 100px;
  width: 100px;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash {
  top: -500px;
  height: 200%;
}

.signup-btn:hover {
  background-color: var(--yellow);
}
/*---------------------------- LOGIN FORM ----------------------------*/

.login-form {
  padding: 35px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-btn:hover {
  background-color: var(--magenta);
}

/*---------------------------- USER PROFILE ----------------------------*/

.profile {
  width: 60%;
  background-color: var(--bone);
  margin: 15px auto;
  padding: 5px 0;
  border-radius: 50px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

.info {
  margin: 20px auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-h2 {
  text-align: center;
  margin: 60px 20px;
  font-size: 1.2rem;
}

.user-h5 {
  text-align: center;
  margin: 60px 0 60px 60px;
}

.profile-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.profile-menu {
  margin: 10px auto 30px auto;
  width: 80%;
  justify-content: space-around;
}

.profile-menu > a {
  padding: 10px 15px;
  border-radius: 25px;
  color: #fff;
  transition: all 0.3s;
}

.profile-edit {
  background-color: var(--cyan);
}
.profile-orders {
  background-color: var(--magenta);
}
.profile-upload {
  background-color: var(--yellow);
}
.profile-mine {
  background-color: var(--black);
}

.profile-edit:hover {
  background-color: var(--orange);
}
.profile-orders:hover {
  background-color: var(--green);
}
.profile-upload:hover {
  background-color: var(--lilac);
}
.profile-mine:hover {
  background-color: #eee;
  color: var(--black);
}

.profile-menu > a:active {
  transform: scale(0.98%);
}

/*---------------------------- EDIT PROFILE FORM ----------------------------*/

.backToProfile {
  align-self: center;
  background-color: var(--black);
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 65px;
  border: none;
  border-radius: 15px;
  outline: none;
  transition: background-color 0.3s;
}

.signup-image {
  width: 100%;
}

.img-input {
  width: 80%;
}

.edit-profile-btn:hover {
  background-color: var(--cyan);
}

.backToProfile:hover {
  background-color: var(--magenta);
}

.edit-profile-btn:active,
.backToProfile:active {
  transform: scale(0.98%);
}

/*---------------------------- GALLERY ----------------------------*/
.gallery {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 23%;
  height: 50vh;
  padding: 25px 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bone);
  border-radius: 50px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

.card > h3 {
  text-align: center;
  width: 90%;
  height: 20%;
  margin-bottom: 20px;
}

.card > img {
  display: inline-block;
  height: 60%;
  width: 90%;
}

.card > a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--magenta);
  color: var(--bone);
  border-radius: 50px;
  transition: background-color 0.3;
}

.card > a:hover {
  background-color: var(--green);
}

/*---------------------------- GALLERY PRODUCT DETAILS ----------------------------*/

.vote-h2 {
  text-align: center;
  margin: 60px 20px;
  font-size: 1.2rem;
}

.details-wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  padding: 50px;
}

.details-img {
  width: 50%;
  height: 100%;
}

.details-img > img {
  height: 100%;
  width: 100%;
}

.designer-details {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.designer-data {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.designer-data > a {
  display: flex;
  align-items: center;
}

.designer-data > span {
  margin-right: 10px;
}

.designer-data > a > p {
  margin: 0 2px;
}

.designer-data > a > img {
  border-radius: 50%;
  margin: 0 15px;
}

.title {
  height: 15%;
}

.title > h2 {
  font-size: 2rem;
}
.product-details {
  flex-direction: column;
  align-items: flex-start;
  height: 40%;
}

.product-details > h3 {
  font-size: 1.4rem;
}

.product-details > p {
  font-size: 1.2rem;
}

.vote-product {
  justify-content: flex-start;
  flex-direction: column;
  height: 40%;
}

.vote-product > h3 {
  font-size: 1.5rem;
}

.thumbs-wrapper {
  height: 80%;
  width: 100%;
  justify-content: space-between;
}

.thumbs-wrapper > button {
  border: none;
  background: none;
  cursor: pointer;
}

.thumbs-wrapper > button > i {
  font-size: 5rem;
  color: var(--black);
  transition: all 0.3s
}

.up > i:hover{
  color: var(--green)
}

.down > i:hover {
  color: var(--orange)
}

/*---------------------------- FOOTER ----------------------------*/

footer {
  background-color: var(--bone);
  color: var(--black);
  position: absolute;
  bottom: -60px;
  width: 100%;
  height: 10px;
  text-align: center;
}

/*---------------------------- MEDIA QUERIES ----------------------------*/
