{{> details data}}

<a href="/products" class="back-to-buy">Back</a>

{{#if logged}}
<form class="addToCart" action='/cart' method='POST'>
    <h3>Price: {{data.price}}€</h3>
    <select name='quantity'>
      <option disabled selected> Quantity</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type='text' name='designId' value={{data._id}} style="display: none">

    <button type='submit'>Add to cart</button>
</form>

{{else}}

<a href="/auth/login" class="addToCart">Add to cart</a>

{{/if}}