{{> details data}}

<a href="/products" class="back-to-buy">Back</a>

{{#if logged}}
<form class="addToCart" action='/cart' method='POST'>

    <label for='quantity'>Quantity</label>
    <input type='number' name='quantity' value="1">
    <input type='text' name='designId' value={{data._id}} style="display: none">

    <button type='submit'>Add to cart</button>
</form>

{{else}}

<a href="/auth/login" class="addToCart">Add to cart</a>

{{/if}}