<div class="profile">
  <div class="info">
    <img class="profile-img" src={{user.picture}} alt="">
    <h2 class="user-h2">{{user.name.firstName}} {{user.name.lastName}}</h2>
    <h5 class="user-h5">| Com points: {{user.com_points}}</h5>
  </div>

</div>