<h2>Products gallery</h2>
<div class="gallery">
    {{#each data}}
    <div class="card">
        <h3>{{this.name}}</h3>
        <img src="{{this.url}}" alt="{{this.name}}">
        {{#if this.vote}}
            <a href="/vote/designId">Vote this product</a>
        {{else}}
            <a href="/products/designId">Buy this product</a>
        {{/if}}
    </div>
    {{/each}}
</div>