<h2 class="vote-h2">Vote this product</h2>
{{> details data}}

<div class="vote-product flex">
            <h3>Vote this product:</h3>
            <div class="thumbs-wrapper flex">
                <button class="up">
                    <i class="fas fa-thumbs-up"></i>
                </button>
                <button class="down">
                    <i class="fas fa-thumbs-down"></i>
                </button>
            </div>
        </div>        
