{{> details data}}

{{#if availableToVote}}
<div class="vote-product flex">
    <div class="thumbs-wrapper flex">

        <form class="thumbs-form" action='/vote/{{data._id}}' method='POST'>

            <input class="thumbs-form-input" type='text' name='designId' value="{{data._id}}">
            <input class="thumbs-form-input" type='number' name='rating' value="1">

            <button class="up" type="submit"><i class="fas fa-thumbs-up"></i></button>
        </form>

        <form class="thumbs-form" action='/vote/{{data._id}}' method='POST'>

            <input class="thumbs-form-input" type='text' name='designId' value="{{data._id}}">
            <input class="thumbs-form-input" type='number' name='rating' value="-1">

            <button class="down" type="submit"><i class="fas fa-thumbs-down"></i></button>
        </form>

    </div>
</div>
{{/if}}

{{#unless logged}}
<div class="unlogged vote-btn flex">
    <a href="/auth/login">Vote</a>
</div>
{{/unless}}

<a href="/vote" class="back-to-vote flex">Back</a>